@import "tailwindcss";

body {
    background-color: #00000000;
    color: #000000;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    /* alert component */
}

.severity-critical {
    background-color: #780000;
    color: #ffffff;
}

.severity-high {
    background-color: #c1121f;
    color: #fff;
}

.severity-medium {
    background-color: #fb8500;
}

.severity-low {
    background-color: #ffc300;
}
